<%- include('partials/_header.ejs') %>
    <% if (data.length > 0 ) { %>
        <%= console.log(data.length) %> 
        <div class="contenedorGeneralCategoriasNV flexRow">
            <div>
                <%- include('partials/_slideBar.ejs') %>
            </div>
                <div class="contenedorTarjetasCategorias flexRow">
                    <% for( let index = 0; index < data.length; index++ ) { %>
                        <div class="tarjetaProductoCategorias flexColum">
                            <img src=" <%= data[index].imagenProducto %>  " alt="" srcset="">
                            <div class="flexColum tarjetaDatosCategorias">
                                <h3> <%= data[index].nombreProducto %>  </h3>
                                <div class="flexRow preciosTarjetaCategorias">
                                    <div class="flexRow" >
                                        <p>Talla -   </p>
                                        <p> <%= data[index].tallaProducto %>  </p>
                                    </div>
                                </div>
                                <div class="flexRow preciosTarjetaCategorias">
                                    <p>Precio:</p>
                                    <P>L <%= data[index].precioProducto %>  </P>
                                </div>
                                <form action="/thelocker/carrito/aggCarrito/ <%= data[index].idProducto %> " method="post">
                                    <div class="flexRow preciosTarjetaCategorias">
                                        <p>Ingresa una cantidad:</p>
                                        <input placeholder="0" type="number" id="cantidadProducto" name="cantidadProducto"min="1" max="20" class="numberTarjetaCategoria">
                                    </div>
                                    <div>
                                        <button class="botonTarjeta flexRow botonAzul">
                                            <p> Agregar a Carrito </p>
                                            <span class="material-icons ">
                                                shopping_cart
                                            </span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } else { %>
                <div class="contenedorGeneralCategoriasV flexRow">
                    <div class="mensajeCatalogoVacio">
                        <h2>Ops! Parece que aun no hay articulos para agregar a tu carrito.</h2>
                    </div>
                </div>
            <% } %>
            
        </div>
    </div>
<%- include('partials/_footer.ejs') %>