<%- include('partials/_headerMenuEmpleado') %>
    <div class="imagenFondo contenedorModuloEmpleado">
        <div class="contenedorMenuSlider">
            <%- include('partials/_slideBarMenu') %>
        </div>
        <div class="contenedorContenidoModuloEmpleado">
            <div class="encabezadoControl">
                <h3>
                    Control Inventario
                </h3>
                <div class="flexRow" style="align-items: baseline;">
                    <p style="margin-right: 8px;">Generar reporte:</p>
                    <div class="flexColum">
                        <select name="reporte" id="reporte">
                            <option value="0">Seleccion</option>
                        </select>
                        <button class="botonReporte botonVerde">
                            Generar
                        </button>
                    </div>
                </div>
            </div>
            <div class="separadorTablasControles">
                <p>Nombre de Campos</p>
                <p style="margin-left: 50%" ;>Ingresar</p>
            </div>
            <div class="contenedorCrud">
                <div class="contenedorTabla">
                    <table class="tabla">
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Proveedor</th>
                            <th>Descripcion</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Imagen</th>
                            <th>Clasificacion</th>
                            <th>Talla</th>
                            <th>EstadoCat</th>
                        </tr>
                        <% if (data) { %>
                            <% for( let index = 0; index < data.length; index++ ) { %>
                                <tr class="fila">
                                    <td class="idProducto">
                                        <%= data[index].idProducto %>
                                    </td>
                                    <td class="nombreProducto">
                                        <%= data[index].nombreProducto %>
                                    </td>
                                    <% if (dataLista) { %>
                                        <% for( let index2 = 0; index2 < dataLista.length; index2++ ) { %>
                                            <% if (dataLista[index2].nombreProveedor == data[index].nombreProveedor) { %>
                                                <td class="proveedor" id="<%= dataLista[index2].idProveedor %>">
                                                    <%= data[index].nombreProveedor %>
                                                </td>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                    <td class="descripcionProducto">
                                        <%= data[index].descripcionProducto %>
                                    </td>
                                    <td class="cantProducto">
                                        <%= data[index].cantProducto %>
                                    </td>
                                    <td class="precioProducto">
                                        <%= data[index].precioProducto %>
                                    </td>
                                    <td> <img class="imagenProducto" style="width: 50px;" src="<%= data[index].imagenProducto %>" alt=""></td>
                                    <td class="clasificacionProducto">
                                        <%= data[index].clasificacionProducto %>
                                    </td>
                                    <td class="tallaProducto">
                                        <%= data[index].tallaProducto %>
                                    </td>
                                    <td class="estadoCatalogo">
                                        <%= data[index].estadoCatalogo %>
                                    </td>
                                </tr>
                                <% } %>
                            <% } %>
                    </table>
                </div>
                <div class="contenedorPanelBotones">
                    <form action="" method="post" id="formularioInventario">
                    <div class="inputCRUD">
                        <label for="idProducto">Id:</label>
                        <input type="text" name="idProducto" id="idProducto">
                    </div>
                    <div class="inputCRUD">
                        <label for="nombreProducto">Nombre:</label>
                        <input type="text" name="nombreProducto" id="nombreProducto">
                    </div>
                    <div class="inputCRUD">
                        <label for="descripcionProducto">Descripcion:</label>
                        <input type="text" name="descripcionProducto" id="descripcionProducto">
                    </div>
                    <div class="inputCRUD">
                        <label for="cantProducto">Cantidad:</label>
                        <input type="number" name="cantProducto" id="cantProducto">
                    </div>
                    <div class="inputCRUD">
                        <label for="precioProducto">Precio:</label>
                        <input type="number" name="precioProducto" id="precioProducto">
                    </div>
                    <div class="inputCRUD">
                        <label for="imagenProducto">Imagen:</label>
                        <input type="text" name="imagenProducto" id="imagenProducto">
                    </div>
                    <div class="inputCRUD">
                        <label for="clasificacionProducto">Clasificacion</label>
                        <select name="clasificacionProducto" id="clasificacionProducto">
                            <option value="N">Seleccione</option>
                            <option value="Hombre">Hombre</option>
                            <option value="Mujer">Mujer</option>
                            
                        </select>
                    </div>
                    <div class="inputCRUD">
                        <label for="tallaProducto">Talla</label>
                        <select name="tallaProducto" id="tallaProducto">
                            <option value="N">Seleccione</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>
                    <div class="inputCRUD">
                        <label for="estadoCatalogo">Estado</label>
                        <select name="estadoCatalogo" id="estadoCatalogo">
                            <option value="N">Seleccione</option>
                            <option value="Visible">Visible</option>
                            <option value="Oculto">Oculto</option>
                        </select>
                    </div>
                    <% if (dataLista) { %> 
                    <div class="inputCRUD">
                        <label for="fkIdProveedor">Proveedor</label>
                        <select name="fkidProveedor" id="proveedor">
                            <option value="N">Seleccione</option>
                            <% for( let index = 0; index < dataLista.length; index++ ) { %>
                            <option value="<%= (dataLista[index].idProveedor).trim() %>" id="<%= dataLista[index].idProveedor %>"><%= dataLista[index].nombreProveedor %></option>
                            <% } %>
                        </select>
                    </div>
                    <% } %>
                    <div class="contenedorBotonesCRUD">
                        <div class="botonesCRUD">
                            <div class="flexColum">
                                <button class="botonCRUDCorto botonMostrar" id="btnNuevoProveedor">
                                    Nuevo Proveedor
                                </button>
                                <button class="botonCRUDCorto botonNuevo" id="btnNuevoProducto">
                                    Nuevo
                                </button>
                                <button class="botonCRUDCorto botonActualizar" id = "btnActualizarProducto">
                                    Actualizar
                                </button>
                                <button class="botonCRUDCorto botonEliminar" id="btnEliminarProducto">
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </div>
                    <p class="mensajeError">Mensaje de Error</p>
                </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/controlInventario.js"></script>
<%- include('partials/_footer') %>