<%- include('partials/_headerMenuEmpleado') %>
    <div class="imagenFondo contenedorModuloEmpleado">
        <div class="contenedorMenuSlider">
            <%- include('partials/_slideBarMenu') %>
        </div>
        <div class="contenedorContenidoModuloEmpleado">
            <div class="encabezadoControl">
                <h3>
                    Control Inventario
                </h3>
                <div class="flexRow" style="align-items: baseline;">
                    <p style="margin-right: 8px;">Generar reporte:</p>
                    <div class="flexColum">
                        <select name="reporte" id="reporte">
                            <option value="0">Seleccion</option>
                        </select>
                        <button class="botonReporte botonVerde">
                            Generar
                        </button>
                    </div>
                </div>
            </div>
            <div class="separadorTablasControles">
                <p>Nombre de Campos</p>
                <p style="margin-left: 50%" ;>Ingresar</p>
            </div>
            <div class="contenedorCrud">
                <div class="contenedorTabla">
                    <table class="tabla">
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Proveedor</th>
                            <th>Descripcion</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Imagen</th>
                            <th>Clasificacion</th>
                            <th>Talla</th>
                            <th>EstadoCat</th>
                        </tr>
                        <% if (data) { %>
                            <% for( let index = 0; index < data.length; index++ ) { %>
                                <tr>
                                    <td> <%= data[index].idProducto %>  </td>
                                    <td> <%= data[index].nombreProducto %> </td>
                                    <td> <%= data[index].fkIdProveedor %> </td>
                                    <td> <%= data[index].descripcionProducto %> </td>
                                    <td> <%= data[index].cantProducto %> </td>
                                    <td> <%= data[index].precioProducto %> </td>
                                    <td> <img style="width: 50px;" src="<%= data[index].imagenProducto %>" alt=""></td>
                                    <td> <%= data[index].clasificacionProducto %> </td>
                                    <td> <%= data[index].tallaProducto %> </td>
                                    <td> <%= data[index].estadoCatalogo %> </td>
                                </tr>
                            <% } %>
                        <% } %>
                    </table>
                </div>
                <div class="contenedorPanelBotones">
                    <div class="inputCRUD">
                        <label for="idProducto">Id:</label>
                        <input type="text" name="idProducto" id="idProducto">
                    </div>
                    <div class="inputCRUD">
                        <label for="nombreProducto">Nombre:</label>
                        <input type="text" name="nombreProducto" id="nombreProducto">
                    </div>
                    <div class="inputCRUD">
                        <label for="descripcionProducto">Descripcion:</label>
                        <input type="text" name="descripcionProducto" id="descripcionProducto">
                    </div>
                    <div class="inputCRUD">
                        <label for="cantProducto">Cantidad:</label>
                        <input type="number" name="cantProducto" id="cantProducto">
                    </div>
                    <div class="inputCRUD">
                        <label for="precioProducto">Precio:</label>
                        <input type="number" name="precioProducto" id="precioProducto">
                    </div>
                    <div class="inputCRUD">
                        <label for="imagenProducto">Imagen:</label>
                        <input type="text" name="imagenProducto" id="imagenProducto">
                    </div>
                    <div class="inputCRUD">
                        <label for="clasificacionProducto">Clasificacion:</label>
                        <input type="text" name="clasificacionProducto" id="clasificacionProducto">
                    </div>
                    <div class="inputCRUD">
                        <label for="tallaProducto">Talla:</label>
                        <input type="text" name="tallaProducto" id="tallaProducto">
                    </div>
                    <div class="inputCRUD">
                        <label for="fkIdProveedor">Proveedor</label>
                        <select name="fkIdProveedor" id="fkIdProveedor">
                            <option value="N">Seleccione</option>
                        </select>
                    </div>
                    <div class="inputCRUD">
                        <label for="estadoCatalogo">Estado</label>
                        <select name="estadoCatalogo" id="estadoCatalogo">
                            <option value="N">Seleccione</option>
                        </select>
                    </div>
                    <div class="contenedorBotonesCRUD">
                        <div class="botonesCRUD">
                            <div class="flexColum">
                                <div class="flexRow">
                                    <button class="botonCRUDCorto botonMostrar">
                                    Mostrar
                                    </button>
                                    <button class="botonCRUDCorto botonNuevo">
                                    Nuevo
                                    </button>
                                </div>
                                <button class="botonCRUDCorto botonActualizar">
                                    Actualizar
                                </button>
                                <button class="botonCRUDCorto botonEliminar">
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </div>
                    <p class="mensajeError">Mensaje de Error</p>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/_footer') %>