<%- include('partials/_headerMenuEmpleado') %>
    <div class="imagenFondo contenedorModuloEmpleado">
        <div class="contenedorMenuSlider">
            <%- include('partials/_slideBarMenu') %>
        </div>
        <div class="contenedorContenidoModuloEmpleado">
            <div class="encabezadoControl" id="encabezado">
                <h3>
                    Control Usuarios
                </h3>
                <div class="flexRow" style="align-items: baseline;">
                    <p style="margin-right: 8px;">Generar reporte:</p>
                    <div class="flexColum">
                        <select name="reporte" id="reporte">
                            <option value="0">Seleccion</option>
                        </select>
                        <button class="botonReporte botonVerde">
                            Generar
                        </button>
                    </div>
                </div>
            </div>
            <div class="separadorTablasControles">
                <p>Nombre de Campos</p>
                <p style="margin-left: 50%" ;>Ingresar</p>
            </div>
            <div class="contenedorCrud">
                <div class="contenedorTabla">
                    <table class="tabla">
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Edad</th>
                            <th>Sexo</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Tipo</th>
                        </tr>
                        <% if (data) { %>
                            <% for( let index = 0; index < data.length; index++ ) { %>
                                <tr class="fila">
                                    <td class="idUsuario"> <%= data[index].idUsuario %>  </td>
                                    <td class="nombreUsuario"> <%= data[index].nombreUsuario %> </td>
                                    <td class="apellidoUsuario"> <%= data[index].apellidoUsuario %> </td>
                                    <td class="edadUsuario"> <%= data[index].edadUsuario %> </td>
                                    <td class="sexoUsuario"> <%= data[index].sexoUsuario %> </td>
                                    <td class="emailUsuario"> <%= data[index].emailUsuario %> </td>
                                    <td class="password"> <%= data[index].contrasenia %> </td>
                                    <td class="tipoUsuario"> <%= data[index].tipoUsuario %> </td>
                                </tr>
                            <% } %>
                        <% } %>
                    </table>
                </div>
                <div class="contenedorPanelBotones">
                    <form action="" method="post" id="formUsuarios">
                        <div class="inputCRUD">
                            <label for="idUsuario">Id:</label>
                            <input type="text" name="idUsuario" id="idUsuario">
                        </div>
                        <div class="inputCRUD">
                            <label for="Nombre">Nombre</label>
                            <input type="text" name="nombreUsuario" id="nombreUsuario">
                        </div>
                        <div class="inputCRUD">
                            <label for="apellidoUsuario">Apellido</label>
                            <input type="text" name="apellidoUsuario" id="apellidoUsuario">
                        </div>
                        <div class="inputCRUD">
                            <label for="edadUsuario">Edad</label>
                            <input type="number" name="edadUsuario" id="edadUsuario">
                        </div>
                        <div class="inputCRUD">
                            <label for="sexoUsuario">Sexo</label>
                            <select id="sexoUsuario" name="sexoUsuario">
                                <option value="Seleccione">Seleccione</option>
                                <option value="H">H</option>
                                <option value="M">M</option>
                            </select>
                        </div>
                        <div class="inputCRUD">
                            <label for="emailUsuario">Email</label>
                            <input type="text" name="emailUsuario" id="emailUsuario">
                        </div>
                        <div class="inputCRUD">
                            <label for="contrasenia">Contraseña:</label>
                            <input type="text" name="contrasenia" id="contrasenia">
                        </div>
                        <div class="inputCRUD">
                            <label for="tipoUsuario">Tipo</label>
                            <select name="tipoUsuario" id="tipoUsuario">
                                <option value="0">Seleccione</option>
                                <option value="1">Administrador</option>
                                <option value="2">Empleado</option>
                                <option value="3">Cliente</option>
                            </select>
                        </div>
                        <div class="contenedorBotonesCRUD">
                            <div class="botonesCRUD">
                                <div class="flexColum">
                                        <button class="botonCRUDCorto botonNuevo" id="btnNuevoUsuario">
                                        Nuevo
                                        </button>
                                    <button class="botonCRUDCorto botonActualizar" id="btnActualizarUsuario">
                                        Actualizar
                                    </button>
                                    <button id="btnEliminarUsuario" type="submit" class="botonCRUDCorto botonEliminar">
                                        Eliminar
                                    </button>
                                </div>
                            </div>
                        </div>
                        <p class="mensajeError" id="mensajeError">Parece que hubo un problema al intentar registrarte</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/controlUsuarios.js"></script>
    <script src="/scripts/valControlUsuarios.js"></script>
<%- include('partials/_footer') %>